:root {
  --bg: #f6f8fb;
  --text: #3d47d9;
  --card:#fefeff;
  --primary:#3d47d9;
  --color:black;
  --highlight:#F6F8FB;
   --shadow-opacity: 0.2;
     --shadow-color-rgb: 0, 0, 0;
}

/* 🌙 Dark Theme */
:root[data-theme="dark"] {
  --bg: #0b1220;
  --text: white;
  --card: #0f1724;
  --primary: #3d47d9;
   --color:#3d47d9;
     --highlight:#1b2538;
   --shadow-opacity: 0.4;
    --shadow-color-rgb: 61, 71, 217;
}
*{
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0px;
  padding: 0px;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* From Uiverse.io by Pradeepsaranbishnoi */ 
.toggle {
  display: inline-block;
}

.toggle {
  position: relative;
  height: 100px;
  width: 100px;
}

.toggle:before {
  box-shadow: 0;
  border-radius: 84.5px;
  background:var(--primary);
  position: absolute;
  margin-left: -36px;
  margin-top: -36px;
  opacity: 0.2;
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
}

.toogle input:checked~.label {
  color: rgba(255,0,0,0.8);
}

.toggle .button {
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.3), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.4), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  border-radius: 68.8px;
  position: absolute;
  background:var(--bg);
  margin-left: -24.4px;
  margin-top: -25.4px;
  display: block;
  height: 48.8px;
  width: 48.8px;
  left: 50%;
  top: 50%;
}

.toggle .label {
  transition: color 300ms ease-out;
  line-height: 101px;
  text-align: center;
  position: absolute;
  font-weight: 700;
  font-size: 20px;
  display: block;
  opacity: 0.9;
  height: 100%;
  width: 100%;
color: var(--text);

}

.toggle input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.toggle input:active ~ .button {
  filter: blur(0.5px);
  box-shadow: 0 12px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 30px 1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 25px 0 rgba(0, 0, 0, 0.4), inset 0 0 10px 1px rgba(255, 255, 255, 0.6);
}

.toggle input:active ~ .label {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.45);
}

.toggle input:checked ~ .button {
  filter: blur(0.5px);
  box-shadow: 0 1px 25px -5px var(--primary), inset 0 -8px 25px -1px var(--bg), 0 -1px 15px -1px var(--primary), inset 0 8px 20px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
}

.toggle input:checked ~ .label {
  color:var(--primary);
}
/* ------------------------------------------------------ */
.navbar{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 10px;
background-color: var(--card);
width: 100%;
height: 10vh;
}
.logo{
  margin-left: 35px;
  font-size: 30px;
  font-weight: 900;
  color: var(--primary);
}
.btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: auto;
  height: auto;
}
.btns button{
  padding: 6px 15px;
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.search{
  padding: 1px 8px;
  height: 5vh;
  border: none;
  width: 250px;
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--bg);
  color: var(--text);
  box-shadow: var(--primary) 0px 0px 5px 0px;
  
}
.search:focus{
  outline: none;
}


.float-btn {
  position: fixed;
  right: 20px;    /* right side se distance */
  bottom: 50px;   /* bottom se distance */
  padding: 10px 22px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 60%;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.main{
  display: flex;

  align-items: center;
  
  width: 100%;
  height: 70vh;
  background-color: #0b1220;


}
.hleft{
  width: 50%;
  height: 100%;
  background-color:var(--bg);
padding: 20px 40px;
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
font-weight: 700;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hright{
  width: 50%;
  height: 100%;
  background-color: var(--bg);
}
.imgmain {
  width: 100%;
  height: 100%;
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/033/126/770/small_2x/3d-purple-illustration-icon-of-character-holding-pencil-with-reminder-note-and-alarm-clock-for-ui-ux-social-media-ads-design-free-png.png');
  background-size: cover;
  background-position: center;
  padding-left: 180px;
  
}

.texts{
  display: block;
  margin-top: 20px;
  color: var(--primary);
 line-break: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}
.heading{
  font-size: 47px;
  margin: 0px;
  color: var(--primary);
}
.header2{
  margin-top: 15px;
 display: flex;
 align-items: center;
 justify-content: center;
  font-size: 25px;
  font-weight: 700;
  color: var(--primary);
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);

}
.cardmain{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  padding: 20px 10px;
}
.cards {
  width: 25%;
  height: 29vh;     /* fixed height (tumhari requirement) */
  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--highlight);
  box-shadow: 0px 4px 10px rgba(var(--shadow-color-rgb), var(--shadow-opacity));
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.cards h1 {
  font-size: 22px;
  color: var(--text);
  overflow-wrap: break-word;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* overflow: hidden; */
}


.cards p {
  font-size: 12px;
  color: var(--text);
  overflow-wrap: break-word;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



.cardbtn{
   margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;


}
.buttons{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 15px;
 color: var(--primary);
 cursor: pointer;
}
.status{
  padding: 5px 10px;
  border-radius: 18px;
  background-color: rgba(255, 255, 0, 0.251);
  color: rgb(159, 157, 9);
  font-size: 12px;
  border: none;
}
.cstatus{
  padding: 5px 10px;
  border-radius: 18px;
  background-color: rgba(11, 248, 46, 0.34);
  color: rgb(15, 158, 48);
  font-size: 12px;
  border: none;
}
.see-more-btn {
  background: none;
  border: none;
  color: var(--color);
  cursor: pointer;
  padding: 0;
  font-size: 13px;
  margin-top: 5px;
}

.see-more-btn:hover {
  text-decoration: underline;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal-box {
  background: var(--card);
  width: 700px;
  height: auto;
  max-height: 90vh;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  overflow: auto;
  line-break: auto;
  z-index: 1000;
}

.close-btn {
  margin-top: 15px;
  background: var(--primary);
  border: none;
  padding: 8px 14px;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
}
.statusbtn{
  margin-top: 15px;
}

.notfond{
  color: var(--text);
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.para{
  font-size: 16px;
  font-weight: 500;
color: var(--color);
}


























.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: var(--bg);
  color: var(--text);
}

.modal-buttons {
  display: flex;
  justify-content:center;
  margin-top: 10px;
}

.modal-buttons button {
  padding: 6px 120px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
background-color: #3d47d9;
color: white;
font-size: 15px;
font-weight: 600;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  border: none;
  background: white;
  padding: 5px 15px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}






textarea {
  resize: none;        /* user resize nahi kar sakta */
  overflow-y: auto;    /* text zyada ho → vertical scrollbar */
  overflow-x: hidden;  /* horizontal scrollbar hide */
  height: 20vh;
}

.status-options {
  display: flex;
  flex-direction: column;  /* ek ke nichay ek radio */
  align-items: flex-start; /* left side alignment */
  margin: 10px 0;
  gap: 4px; /* radio lines ke beech thora sa gap */
}

.status-options label {
  display: flex;
  align-items: center;
  gap: 4px;   /* radio aur text ke beech BAS 4px ka small gap */
  cursor: pointer;
  font-weight: 500;
}
.navmobile{
  display: none;
  font-size: 20px;
}



.serchdiv{
  display: none;
}






















/* ---------------- MOBILE RESPONSIVE ---------------- */
@media (max-width: 480px) {

  .navmobile{
  display: block;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  /* NAVBAR */
  .navbar {
    /* flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 15px 0; */
    display: none;
  }

  .logo {
    margin-left: 0;
    font-size: 24px;
  }

  .btns {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .btns button {
    width: 90%;
    padding: 8px 0;
    font-size: 15px;
  }

  .search {
    width: 90%;
    height: 40px;
  }

  /* HERO SECTION */
  .main {
    flex-direction: column;
    height: auto;
  }

  .hleft,
  .hright {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .hleft {
    font-size: 28px;
    text-align: center;
  }

  .heading {
    font-size: 32px;
  }

  .texts {
    font-size: 15px;
  }

  /* IMAGE */
  .imgmain {
    height: 250px;
    padding-left: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* NOTES HEADING */
  .header2 h2 {
    font-size: 20px;
  }

  /* CARDS MAIN */
  .cardmain {
    gap: 20px;
  }

  /* SINGLE CARD */
  .cards {
    width: 90%;
    height: auto;
    padding: 10px 10px;
  }

  .cards h1 {
    font-size: 20px;
    -webkit-line-clamp: 2;
  }

  .cards div {
    font-size: 13px;
    
  }
  .status{
    margin-top: 8px;
  }
  .cstatus{
    margin-top: 8px;
  }

  .buttons i {
    font-size: 15px;
    margin-top: 5px;
  }

  /* FLOAT BUTTON */
  .float-btn {
    right: 15px;
    bottom: 15px;
    padding: 8px 18px;
    font-size: 24px;
  }

  /* MODAL */
  .modal-content {
    width: 90%;
    padding: 15px;
  }

  .modal-content input,
  .modal-content textarea {
    width: 100%;
  }

  .status-options {
    flex-direction: column;
    gap: 10px;
  }

  .modal-buttons button {
    width: 100%;
  }

  /* DETAIL MODAL */
  .modal-box {
    width: 90%;
  }
  .hname{
    font-size: 25px;
  }
  .mbtns{
    font-size: 23px;
    cursor: pointer;
  }
  .dropdown {
  position: absolute;
  top: 55px;
  right: 15px;
  width: 170px;
  background-color: var(--bg);
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.dropdown p {
  padding: 5px 15px;
  margin: 0;
  cursor: pointer;
  transition: 0.2s;
  font-size: 13px;
}

.dropdown p:hover {
  background-color: var(--highlight);
}
  .serchdiv{
    padding: 5px 5px;
    margin-top: 10px;
    
  }
.search{
  width: 100%;
  height: 35px;
  font-size: 14px;
  border-radius: 3px;
}
.serchdiv{
  display: block;
}
}






